<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="connection.url">jdbc:sqlserver://localhost:1433;databaseName=Narga</property>
        <property name="connection.username">SA</property>
        <property name="connection.password">Narga1408</property>
        <!-- JDBC connection pool settings ... using built-in test pool -->
        <property name="connection.pool_size">5</property>
        <!-- Select our SQL dialect -->
        <property name="dialect">org.hibernate.dialect.SQLServerDialect</property>
        <!-- Echo the SQL to stdout -->
        <property name="show_sql">true</property>
        <!-- Set the current session context -->
        <property name="current_session_context_class">thread</property>
        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">create</property>
        <!-- dbcp connection pool configuration -->
        <property name="hibernate.dbcp.initialSize">5</property>
        <property name="hibernate.dbcp.maxTotal">20</property>
        <property name="hibernate.dbcp.maxIdle">10</property>
        <property name="hibernate.dbcp.minIdle">5</property>
        <property name="hibernate.dbcp.maxWaitMillis">-1</property>
        
        <property name="hibernate.connection.CharSet">utf8</property>
		<property name="hibernate.connection.characterEncoding">utf8</property>
		<property name="hibernate.connection.useUnicode">true</property>
		
		<!-- hibernate search config -->
		<property name="hibernate.search.default.directory_provider">filesystem</property>

		<property name="hibernate.search.default.indexBase">/home/ngotrung/tmp/indexs</property>
        
        <mapping class="com.godofwibu.narga.entities.User"/>
        <mapping class="com.godofwibu.narga.entities.Profile"/>
        <mapping class="com.godofwibu.narga.entities.Actor"/>
        <mapping class="com.godofwibu.narga.entities.Category"/>
        <mapping class="com.godofwibu.narga.entities.Country"/>
        <mapping class="com.godofwibu.narga.entities.Director"/>
        <mapping class="com.godofwibu.narga.entities.Film"/>
        <mapping class="com.godofwibu.narga.entities.ImageData"/>
        <mapping class="com.godofwibu.narga.entities.Ticket"/>
        <mapping class="com.godofwibu.narga.entities.TicketType"/>
    </session-factory>
</hibernate-configuration>