<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../css/actorDetail.css" th:href="@{/static/css/infoActor.css}">
<title>Insert title here</title>
</head>
<body>
  <header class="header">
     <img class="logo" src="../images/logo.png" >
  </header>
  <p class="text-center title-infoActor">Thông Tin Diễn Viên</p>
<div class= "container-fluid">
         <div class= "row">
            <div class ="col-md-2">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Jackie_Chan_July_2016.jpg/330px-Jackie_Chan_July_2016.jpg" class="img-fluid" alt="Responsive image">
            </div>
            <div class ="col-md-10">
            <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Tên :</th>
      <th scope="col">Jackie Chan( Thành Long )</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Ngày Sinh:</td>
      <td>7/4/1954</td>
    </tr>
    <tr>
      <td>Quốc Gia:</td>
      <td>Trung Quốc</td>
    </tr>
     <tr>
      <td>Sự Nghiệp:</td>
      <td>Thành Long là một trong những nhân vật điện ảnh
             nổi tiếng và có ảnh hưởng nhất trên thế giới, thu hút được sự yêu 
             mến rộng rãi ở cả Đông và Tây bán cầu, và đã nhận được các ngôi sao trên 
             Đại lộ Ngôi sao Hồng Kông và Đại lộ Danh vọng Hollywood .
             Anh ấy đã được giới thiệu trong nhiều bài hát nhạc pop, 
             phim hoạt hình và trò chơi điện tử. 
             Anh ấy là một ca sĩ được đào tạo bài bản và cũng 
             là một ngôi sao Cantopop và Mandopop , 
             đã phát hành một số album và hát nhiều bài hát chủ đềcho những bộ 
             phim mà anh ấy đã đóng vai chính. Ông cũng là một nhà từ thiện được biết đến trên toàn 
             cầu và được tạp chí Forbes vinh danh là một trong 10 người nổi tiếng làm từ thiện nhiều 
             nhất</td>
    </tr>
         </tbody>
     </table>            
   </div>
     </div>
      </div>
<div class="container">
	<div class="row mt-5">
		<h2 >Một Số Bộ Phim Nổi Bật</h2>
		<div class="product-group">
			<div class="row">
				<div class="col-md-3 col-sm-6 col-12 ">
					<div class="card card-product mb-3">
					  <img class="card-img-top" src="http://image.phimmoizz.net/film/3/poster.medium.jpg" alt="Card image cap">
					  <div class="card-body">
					    <h5 class="card-title">12 Con Giáp</h5>	
					    <p class="card-text card-detail">Chinese Zodiac kể về câu chuyện một anh hùng Trung Quốc đã lấy lại được các bức tượng đồng về 12 con giáp, những bảo vật đã bị quân đội Pháp và Anh cướp từ Di Hòa Viên, Bắc Kinh năm 1860.</p>				    
					    <a href="#" class="btn btn-primary">Chi tiết</a>
					  </div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-12 ">
					<div class="card card-product mb-3">
					  <img class="card-img-top" src="http://image.phimmoizz.net/film/2790/poster.medium.jpg" alt="Card image cap">
					  <div class="card-body">
					    <h5 class="card-title">Kung Fu Panda 3</h5>
					    <p class="card-text card-detail">Trong phần 3 này, Po gặp lại người cha của mình. Hai người cùng tới một vùng đất chưa từng ai biết tới. Tại đây, họ gặp rất nhiều đồng loại gấu trúc và học được cách chống lại kẻ thù sắp tới.</p>
					    <a href="#" class="btn btn-primary">Chi tiết</a>
					  </div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-12 ">
					<div class="card card-product mb-3">
					  <img class="card-img-top" src="http://image.phimmoizz.net/film/2178/poster.medium.jpg" alt="Card image cap">
					  <div class="card-body">
					    <h5 class="card-title">Kiếm Rồng</h5>
					    <p class="card-text card-detail">Phim Kiếm Rồng lấy bối cảnh diễn ra dưới thời Tây Hán, phim xoay quanh câu chuyện của đại tướng quân Hoắc An (Thành Long) với sứ mệnh bảo vệ sự bình yên cho các nước chư hầu ở Tây Vực.</p>
					    <a href="#" class="btn btn-primary">Chi tiết</a>
					  </div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-12 ">
					<div class="card card-product mb-3">
					  <img class="card-img-top" src="http://image.phimmoizz.net/film/1933/poster.medium.jpg" alt="Card image cap">
					  <div class="card-body">
					    <h5 class="card-title">Cậu Bé Karate</h5>
					    <p class="card-text card-detail">Câu bé Dre Parker chuyển nhà từ Mỹ sang Bắc Kinh, Trung Quốc. Tại đây, ngỡ ngàng với cuộc sống mới, Dre vô tình gây sự đánh nhau với những học sinh giỏi kungfu Trung Quốc cùng trường</p>
					    <a href="#" class="btn btn-primary">Chi tiết</a>
					  </div>
					</div>
				</div>				
			</div>
		</div>
	</div>
</div>
  <footer class="footer">
     <img class="br" src="../images/bg-bottom-footer.jpg">
  </footer>
</body>
</html>
