<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../css/infoFilm.css"
	th:href="@{/static/css/infoFilm.css}">
<script type="text/javascript" src="../js/infoFilm.js"
	th:src="@{/static/js/infoFilm.js}"></script>
<title th:text="${film.title}"></title>
</head>
<body>
	<header class="header">
		<img class="logo" src="../images/logo.png"
			th:src="@{/static/images/logo.png}">
	</header>
	<div class="text-center">
		<h1>Title</h1>
	</div>
	<div class="border">
		<div class="page">
			<div class="thumb">
				<img class="posterFilm" src="../images/film.jpg"
					th:src="${film.poster.url}" alt="poster"> <a
					class="button-order" th:href="@{/book(filmId=${film.id})}"> Đặt vé </a>
			</div>
			<div class="attr">
				<div class="content">
					<h3 th:text="${film.title}">Porco Rosso</h3>
					<img class="nation" src="../images/nation/vietnam.png"
						th:src="${film.country.flag.url}"> <br>
					<dt>Đạo diễn:</dt>
					<dd>
						<a class="directors" th:if="${film.director}"
							th:href="@{'/detail/director/'+${film.director.id}}"
							th:text="${film.director.name}">Thịn Thịn</a>
					</dd>
					<br>
					<dt class="dt-category">Thể loại:</dt>
					<dd>
						<a class="categorry" th:each="category : ${film.categories}"
							th:href="@{'/category/'+${category.id}}"
							th:text="${category.name}">Hoạt hình</a>
					</dd>
					<br>
					<dt>Diễn viên:</dt>
					<dd>
						<a class="cast" href="#" th:each="actor : ${film.casting}"
							th:text="${actor.name}" th:href="@{'/detail/actor/'+${actor.id}}">Thịn</a>
					</dd>
					<br>
					<dt>Ngày khởi chiếu:</dt>
					<dd>
						<a th:text="${#dates.format(film.releaseDate, 'dd-MM-yyyy')}">30/02/2020</a>
					<dd>
						<br>
					<dt>Thời lượng:</dt>
					<dd th:text="${film.runningTime} + 'p'">130p</dd>
					<br>
					<dt>Nội dung:</dt>
					<a th:text="${film.description}">Bộ phim kể về câu chuyện của Porco Rosso và mối tình lãng
						mạn với Gina, người sở hữu và điều hành các câu lạc bộ cùng khách
						sạn biển dành cho phi công lái thủy phi cơ tại vùng biển Adriatic.
						Cốt truyện xoay quanh tình bạn giữa Porco và cô gái kỹ sư máy bay
						tập sự tài năng tên Fio, cùng cuộc cạnh tranh với mội phi công
						người Mỹ nóng tính tên Curtis. Porco bị một lời nguyền khiến mặt
						của ông bị biến thành heo nhưng nguồn gốc của lời nguyền này không
						được giải thích đầy đủ trên phim. Cho dù lời nguyền biến ông thành
						heo không bao giờ được giải thích đầy đủ trên phim nhưng nó có một
						gợi ý liên quan đến việc ông rời bỏ lực lượng không quân cũng như
						ý chí vượt qua cái chết khi nó đã gần kề vì người mình yêu...</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
