<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="../css/profile.css" th:href="@{/static/css/profile.css}">
<header class="header">
  <img class="logo" src="../images/logo.png" >
</header>
<div class="container1" >
 <h1 class="text-center">Ticket Info</h1> 
 <div class="container"> 
  <div class="rowprofile">        
   <div class="col-md-3">     
    <div class="profile-sidebar">                                                                   
      <div id="general" class="profile-usertitle">                   
      <div id="general"  class="profile-usertitle-name">                     Name:                </div>                  
      <div id="general"  class="profile-usertitle-email">                    Email:                   </div>
      <div id="general"  class="profile-ticket-namefilm">                    Name Of Film:                   </div>
      <div id="general"  class="profile-ticket-numberOfrap">                 Number of Rap :):                   </div>
	  <div id="general"  class="profile-ticket-seat">                        Number of Seat:                   </div>
	  <div id="general"  class="profile-ticket-day">                         Day:                 </div>
	  <div id="general"  class="profile-ticket-time">                        Time:                  </div>
     </div>    
     </div>                                              
     </div> 
   </div>      
   <div class="col-md-9"> 
  </div>
 </div> 
 </div>
</html>