<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="../css/register.css" th:href="@{/static/css/register.css}">
</head>
<body>
	<div class="register-page" style="background-image: url('../images/login-bg-2.jpeg')" th:style="|background-image: url(@{static/images/login-bg-2.jpeg})|">
  <form class="form">
    <h1>Register</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>
    
	<label for="name"><b>Name</b></label>
    <input type="text" placeholder="Enter Your Fullname" name="name" id="name" required>
    
    <label for="phone"><b>Phone Number</b></label>
    <input type="text" placeholder="Enter Phone Number" name="phone" id="phone" required>
    
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" id="email" required>
    
    <label for="identification"><b>Identification Card</b></label>
    <input type="text" placeholder="Enter Identification Card" name="identification Card" id="Card" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" id="psw" required>

    <label for="psw-repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
    <hr>
    

    <button type="submit" class="registerbtn">Register</button>
    <p>Already have an account? <a href="/login" th:href="@{/login}">Sign in</a>.</p>
  </form>
 
  <div class="container signin" style="background-image: url('../images/bg-bottom-footer.jpg')" th:style="|background-image: url(@{static/images/bg-bottom-footer.jpg})|" >
  </div>

</div>
</body>
</html>