@charset "UTF-8";


.selector-wrapper {
	position: fixed;
    display:none;
	height: 100%;
	width: 100%;
	opacity: 1;
}

#actor-selector{
	position:fixed;
	left:25%;
	top:25%;
	width: 900px;
	height: 500px;
	background-color: white;
	border: 2px solid black;
	overflow-y: scroll;
}

.close-button{
	height: 20px;
	width: 20px;
	float: right;
	opacity: 0.5;
}

.close-button:hover{
	opacity:1;
}

.actor{
	border-width: 2px 0px 0px 0px;
	border-style:solid;
    border-color:black;
	overflow: auto;
	display: relative;
}

.actor-name{
	display: inline;
}

.actor-avatar{
	height: auto;
	width: 125px;
    padding: 5px;
}

#actor-avatar{
	float: left;
	padding: 2px 4px 2px 4px;
}

.nation{
	height: auto;
	width: 20px;
}

div.info{
	float:right;
	position: relative;
    top: 0px;
	height: auto;
	width: 200px;
	word-break: keep-all;
}

#category-selector {
	width: 65%;
	margin: 5% auto 10% auto;
	background-color: #fefefe;
	border: 1px solid #888;	
	text-align: center;
}

#category-selector input[type=text] {
	width: 100%;
}

#category-list {
	margin: 10px 0px 10px 0px;
}

#show-category-selector-btn, #show-cast-selector-btn {
	float: right;
}

.wrapper {
	background-color: #fefefe;
	border: 1px solid #888;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 20px;
	padding-top: 10px;
}

.category {
	border-radius: 10px;
	background-color: silver;
	display: inline-block;
	padding: 5px 10px 5px 10px;
	text-align: center;
	margin: 0px 5px 0px 5px
}

.category:hover {
	border-radius: 10px;
	background-color: #e3924e;
	display: inline-block;
	padding: 5px 10px 5px 10px;
	text-align: center;
}

.actor:hover {
	background-color: #888
}

#actor-ls{
	padding: 0px;
}
