@charset "UTF-8";
 
.selector-wrapper {
	position: fixed;
    display:none;
	height: 100%;
	width: 100%;
	opacity: 1;
	margin: 0px;
	padding: 0px;
}

div.info{
	float:right;
	position: relative;
    top: 0px;
	height: auto;
	width: 200px;
	word-break: keep-all;
}

#categorySelector {
	width: 40%;
	height: 25%;
	margin: 5% auto 10% auto;
	background-color: #fefefe;
	border: 1px solid #888;	
}

#categorySelector input[type=text] {
	width: 100%;
}

#categorySelector img {
	width: auto;
	height: 30px;
	float: right;
}

#categories {
	margin-bottom:5px;
	border: 1px dotted #888;
	min-height: 50px;
	padding: 5px;
}

.wrapper {
	background-color: #fefefe;
	border: 1px solid #888;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
}

.category {
	border-radius: 10px;
	background-color: silver;
	display: inline-block;
	padding: 5px 10px 5px 10px;
	text-align: center;
	margin: 5px;
}
.selector {
	position: absolute;
	background-color: #fefefe;
	border: 1px solid #888;
	margin: 0;
  	top: 50%;
  	left: 50%;
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}

#preview{
	max-width: 100%;
	max-height: 100%;
}

.header-bar {
	min-height: 20px;
	background-color: #729fcf;
}

.selector .content {
	padding: 5px;
}

#previewImageWrapper {
	padding: 5px 5px 5px 5px;
	border: 1px dotted #888;
	text-align: center;
	margin-bottom: 10px;
	height: 320px;
	width: 480px;
}

.item:hover {
	background-color:  #729fcf
}

.item {
	border-width: 1px;
	border-style: solid;
    border-color: #babdb6;
    border-radius: 5px;
	overflow: auto;
	margin: 6px 3px 6px 3px;
	padding: 5px;
	background-color: #f3f3f3;
}

.avatar {
	width: 150px;
	height: 150px;
	padding: 2px;
}

.description {
	display: inline;
}

.avatar img {
	max-width: 100%;
	max-height: 100%;
}


.add-btn {
	background-color: #f57900;
	color: white;
	height: 40px;
	min-width: 55px;
	display: inline-block;
	padding: 8px 5px 10px 5px;
	text-align: center;
	cursor: pointer;
	border-radius: 3px;
}

#casting {
	padding: 5px;
	border: 1px dotted #888;	
	margin-bottom: 5px;
}

.content {
	padding: 5px;
}
